* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

div {
  margin: 1em auto;
  padding: 1em 0;
  width: 600px;
  background-color: lightgray;
  text-align: center;
  font-size: 1.2em;
}

button, input {
  margin-top: 10px;
  font-size: 0.8em;
  padding: 0.1em
}

.error_msg {
  color: red;
  font-size: 0.7em;
}